# Ignore build output
target/
build/


# Ignore log files
*.log
*.log.*

# Ignore temporary files
*.tmp
*.temp
tmp/
*.swp
*.bak

# Ignore sensitive configuration files
application.properties
application.yml
/application*.yml
/application*.yaml

